header{
    max-width: 1110px;
    div{
        width: 17%;
    }
    h1{
        width: 17%;
    }
    nav{
        width: 17%;
        ul{
            height: 100%;
        }
    }
}

.footer{
    max-width: 1110px;
    .footer-topic{
        width: 36.8%;
    }
    nav{
        width: 11%;
        ul{
            width: 100%;
            height: 100%;
        }
    }
}
