// .banner{
//     display: none;
// }

// .menu{
//     border: none;
// }

// header{
//     border: 1px solid #000;
// }

.tai-design{
    padding: 80px 85px 52px 85px;
    .introduce{
        width: 350px;
        line-height: 1.5;
    }
    img{
        width: 445px;
        height: 285px;
    }
}

.live-design{
    padding: 80px 85px 52px 85px;
    .introduce{
        width: 350px;
        line-height: 1.5;
    }
    img{
        width: 445px;
        height: 285px;
    }
}

.kaohsiung-design{
    padding: 80px 85px 52px 85px;
    .introduce{
        width: 350px;
        line-height: 1.5;
    }
    img{
        width: 445px;
        height: 285px;
    }
}