.hot-exhibition{
  max-width: 1110px;
  .container{
    .exhibition-img{
      img{
        width: 350px;
        height: 350px;
      }
    }
    .exhibition-content{
      .content-main{
        width: 90%;
        height: 34%;
      }
      .content-btn{
        margin-top: 34px;
        button{
          line-height: 1.5;
          padding: 10px 16px;
      }
      }
    }
    .exhibtion-date{
      p{
        width: 39px;
        height: 146px;
      }
    }
  }
  .hot-exhibition-center{
    margin: 20px 0;
  }
}

.live-replay{
  max-width: 1110px;
  .live-replay-content{
    width: 100%;
    height: 100%;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/people2.png?raw=true) center center;
    background-size: cover;
    .live-replay-content-main{
      padding: 40px 25px 36px 20px;
      background-color: rgba(25,0,20,0.8);
      .live-replay-content-title{
        line-height: 1.7;
        p:first-of-type{
          border-right: 2px solid #fff;
        }
      }
      button{
        width: 140px;
        height: 45px;
      }
    }
  }
}

