.hot-exhibition{
  max-width: 1110px;
  .container{
    .exhibition-img{
      img{
        width: 350px;
        height: 350px;
      }
    }
    .exhibition-content{
      .content-main{
        width: 90%;
        height: 34%;
      }
      .content-btn{
        margin-top: 34px;
        button{
          line-height: 1.5;
          padding: 10px 16px;
      }
      }
    }
    .exhibtion-date{
      p{
        width: 39px;
        height: 146px;
      }
    }
  }
  .hot-exhibition-center{
    margin: 20px 0;
  }
}

.live-replay{
  max-width: 1110px;
}

