<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="m-auto d-flex justify-content-around my-6">
    <div></div>
    <h1><a href="example.html" class="fs-4 text-primary">EXHIBINECTION</a></h1>
    <nav>
      <ul class="d-flex justify-content-between align-items-center list-unstyled fs-6 text-secondary">
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="#"><span class="material-icons position-relative">
              confirmation_number<span
                class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span
                  class="visually-hidden">unread messages</span></span>
            </span></a>
        </li>
      </ul>
    </nav>
  </header>
  <%- contents %>

    <footer class="footer m-auto d-flex justify-content-between">
      <div class="footer-topic d-flex align-items-end justify-content-between">
        <p class="fs-4"><a href="index.html" class="text-primary">EXHIBINECTION</a></p>
        <p>© 2020. All Rights Reserved.</p>
      </div>
      <nav>
        <ul class="d-flex justify-content-between align-items-center list-unstyled fs-6 text-secondary">
          <li><a href="#">Sign in</a></li>
          <li><a href="#">Sign up</a></li>
        </ul>
      </nav>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>